html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html,
body {
    background-color: transparent;
    color: #000000;
}

/* Dark mode styles */
html.dark-mode,
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* Additional element styles in dark mode */
html.dark-mode .header {
    background-color: #222222;
    color: #ffffff;
}

html.dark-mode .footer {
    background-color: #222222;
    color: #ffffff;
}
